.navbar-brand img{
    height: 8vh; 
}

.container-form{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.form-group{
    margin-left: 20px;
}

.container-cards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card{
    width: 30%;
}

.card .btn-secondary{
    color : white;
    background-color: green;
    border : 1px solid white;
}

.card-unavailable {
    background-color : rgb(205, 205, 205) !important;
    border: 1px solid rgb(205, 205, 205); 
}

.card-unavailable .btn-secondary {
    color : white;
    background-color: red;
    border : 1px solid white;
}

.card-unavailable li{
    background-color : rgb(232, 232, 232) !important;
}

.card-body .btn{
    margin-right: 10px;
}

.card .bg-dark{
    width: 30%;
}

.bg-dark{
    display: flex;
    justify-content: space-around;
    align-items: center;
}